.main-chat__messages{data: {message: {id: message.id}}}
  .main-chat__message
    %p.main-chat__message-member
      = message.user.name
    %p.main-chat__message-time
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .main-chat__message-text
    - if message.content.present?
      %p.main-chat__message-text__list
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?