.side-bar{
  height: 100vh;
  width: 300px;
  background-color: #253141;
  font-weight: bold;
  color:$white-color;
  &__header{
    height: 100px;  
    display: flex;
    align-items: center;
    .top-item{
      height: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      line-height: 20px;
      align-items: center;
      padding: 0 20px;
      &__name{
        font-size:16px
      }
      &__icons{
        display: flex;
        .message__btn{
          text-decoration: none;
          color:$white-color;
        }
        .user-edit__btn{
          text-decoration: none;
          color:$white-color;
          padding-left:5px;
        }
      }
    }
  }
  &__group{
    background-color: #2f3e51;
    height: calc( 100vh - 100px);
    padding-top: 20px;
    text-decoration: none;
    overflow: scroll;
    .group-list{
      padding: 0 20px 40px 20px;
      text-decoration: none;
      color:$white-color;
      .group-lists{
        text-decoration: none;
        color: $white-color;
        &__name{
          font-size: 15px;
          padding-bottom:5px;
        }
        &__message{
          font-size: 11px;
        }
      }
    }
  }
  
}